<div class="mainContent">
  <div>
    <h4>
      Your Shopping Cart List
    </h4>
    <hr>
    <div class="row title-list">
      <b class="col-md-10 ">Product Name</b>
      <b class="col-md-2 ">Price</b>
    </div>
    <div class="row" id="content">
      <div class="col-md-10">Product Name</div>
      <div class="col-md-2">Price</div>
    </div>
    <hr>
    <div class="row" id="total">
      <b class="col-md-10">Total Amount:</b>
      <b class="col-md-2">$20.00</b>
    </div>
    <hr>
    <div style="display: flex; justify-content: center;">
      <button (click)="fileinput.click()" type="button" class="btn btn-lg btn-primary">Update</button>
      <button (click)="fileinput.click()" type="button" class="btn btn-lg btn-primary">Checkout</button>
    </div>

  </div>

</div>