.btn{
    margin-left: 0.5em;
    border: 1px solid #2868ad;
    background-color:#2868ad;
    
}
.btn:hover{
    border: 1px solid  #217bd5;
    background-color:#217bd5;
}
.field{
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 30);

}
.center-parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.content{
    margin: 2em auto;
    border: 1px   rgb(54, 54, 54);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.content .row{
    margin-left: 0em;
    margin-right: 0em;
}
.user-info{
    padding: 0em;
    border: 1px solid  rgb(54, 54, 54);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
   

}
.image-user{
    border: 1px solid  rgb(54, 54, 54);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    margin-bottom: 1em;

}
.acticle{
    border: 1px   rgb(54, 54, 54);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); 
}
.acticle-title{
    padding: 1em;
}
.price-acticle{
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
}
.comment{
    border: 1px solid  rgb(54, 54, 54);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); 
}
.footer{
position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;

}
